# Игнорирование всех файлов по умолчанию
*
!*/

# C/C++
!*.c
!*.cpp
!*.h
!*.hpp

# Shaders
!*.usf
!*.ush
!*.hlsl
!*.glsl

# Text files
!*.txt
!*.md

# Scripts
!*.bat
!*.sh
!*.command

# Other configuration and markup files
!*.ini
!*.json
!*.tps
!*.xml
!*.xaml
!*.uproject
!*.uplugin
!*.html
!*.html.template
!*.css
!*.udn
!*.config
!*.version
!.git*
!.editorconfig

# Projects and makefiles
!*.cmake
!*.mk
!*.dsp
!*.dsw
!*.csproj
!*.vcproj
!*.vcxproj
!*.vcxproj.filters
!*.sln
!*.xcodeproj
!*.xcconfig
!*.vsprops
!*.snippet
!Makefile
!Makefile.*
!Settings.settings

# Specific names
!README
!AUTHORS
!LICENSE
!FAQ
!VERSION
!ChangeLog

# Ignore Unix backup files
*~

# Explcitly ignore Mac DS_Store files, regardless of where they are
.DS_Store

# Ignore VS / VS Code settings directory
.vs
.vscode

# Ignore CLion directory
.idea/

# Annoying windows files
[Dd]esktop.ini

Engine/Build/*/*/x64
Engine/Build/*/*/x86